<mat-card class="example-card" (mouseenter)="checkContent()" (mouseleave)="decheckContent()" [ngStyle]="{'background-color': data.bgcolor + '5f'}">
    <mat-card-header>
      <mat-card-title>{{ data.titolo }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ data.testo }}</p>
    </mat-card-content>
    <mat-card-actions *ngIf="showContent">
      <!--TODO inserire metodo per editare la carta-->
      <button mat-mini-fab color="primary"><mat-icon>edit</mat-icon></button>  
      <button mat-mini-fab color="warn" (click)="deleteNote()"><mat-icon>delete</mat-icon></button>
      <input matInput type="color" [(ngModel)]="data.bgcolor" />
    </mat-card-actions>
</mat-card>
  