section{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:1;
}
section>header{
    position: relative;
}
section>header>h1{
    font-size: clamp(2.5rem, 5.5vw, 7rem); 
    font-weight: bold;
    letter-spacing: .3rem;
}

section>button{
    position: fixed;
    bottom: .8rem;
    right: .8rem;
    border-radius: .5rem;
    background-color: #2e92df;
}