<mat-toolbar>
  <span>NoteEase</span>
  <span class="example-spacer"></span>
  <ng-template #loggedOut>
    <button mat-raised-button (click)="loginGoogle()">
      <mat-icon>home</mat-icon>
      Google
    </button>
  </ng-template>
  <div *ngIf="user$ | async as user; else loggedOut">
    <div *ngIf="!user.isAnonymous; else loggedOut">
      <button mat-raised-button #loggedOut (click)="logout()">Logout</button>
    </div>
  </div>
</mat-toolbar>

<section>
  <header>
      <h2>NoteEase</h2>
  </header>

  <button mat-fab color="primary" *ngIf="user$ != null" (click)="openDialog()" matTooltip="Aggiungi una nota" matTooltipPosition="left">
      <mat-icon>add</mat-icon>
  </button>

  <div id="filter" *ngIf="notes.length != 0">
      <ng-container *ngFor="let note of notes">
          <app-card [data]="note" (delete)="deleteNote(note.id)" (update)="updateNote(note.id, $event)" [nomePersona]="note.name"></app-card>
      </ng-container>
  </div>
</section>