section{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:1;
}
section>header{
    position: relative;
}
section>header>h2{
    font-size: clamp(2rem, 5.5vw, 4rem); 
    font-weight: bold;
    letter-spacing: .3rem;
}

section>button[mat-fab]{
    bottom: .8rem;
    right: .8rem;
    background-color: #2e92df;
    color: white;
    border-radius: .5rem;
    position: fixed;
    z-index: 3;
    
}

mat-toolbar{
  position: sticky;
  top:0;
  z-index: 3;
}
.example-spacer {
  flex: 1 1 auto;
}

#filter{
    position: absolute;
    z-index: 2;
    height: 100vh;
    width: 100%;
    background-color: #ffffff62;
    display: flex;
    align-items: flex-start;
}